footer {
    font-size:60%;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding:4px;
    background-color:#F4F4F4;
    width:100%;
}
.box1 .box-title { /*【span】タイトル部分*/
    position: absolute; /*必須*/
    top: 0; /*囲み枠の上にぴったりくっつく*/
    left: 0; /*囲み枠の左にぴったりくっつく*/
    line-height: 32px; /*行の高さ*/  
    padding: 0 5px; /*左右の余白*/
    border-radius: 0px 0 0px 0; /*角丸（左上12px 右上0 右下12px 左下0）*/
    font-weight: bold; /*フォント太字*/
}
.box1 { /*【div】囲み枠部分*/
    position: relative; /*必須*/
    margin: 0px 0px; /*外側の余白*/
    padding: 32px 15px 5px; /*内側の余白*/
    border: 2px solid rgb(0, 0, 0); /*枠線*/
    border-radius: 15px 15px 15px 15px; /*角丸（左上15px 右上0 右下15px 左下0）*/
    width: fit-content;
    user-select: none;
}
img{
    width: 500;
    max-width: 100%;
}

a.makebtn {
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 0.5rem 1rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
}
a.makebtn:hover {
	color: #27acd9;
	background: #fff;
}
#preview{
    margin-top: 1rem;
}
summary{
    text-decoration: underline ;
    text-decoration-color:rgb(148, 148, 148);
}
.form1{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    gap: 30px 20px;
}


.switch__label {
    width: 37px;
    position: relative;
    display: inline-block;
    padding-top: 3px;
}
.switch__content {
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 7px;
    height: 14px;
    background-color: rgba(34,31,31,.26);
    -webkit-transition: all .1s .4s;
       -moz-transition: all .1s .4s;
        -ms-transition: all .1s .4s;
         -o-transition: all .1s .4s;
            transition: all .1s .4s;
    overflow: hidden;
}
.switch__content:after {
    content: "";
    display: block;
    position: absolute;
    
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 7px;
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}
.switch__input {
    display: none;
}
.switch__circle {
    display: block;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: #F1F1F1;
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
    -webkit-box-shadow: 0 2px 2px #ccc;
            box-shadow: 0 2px 2px #ccc;
}
.switch__input:checked ~ .switch__circle {
    left: 18px;
    background-color: #00c4cc;
}
.switch__input:checked ~ .switch__content {
    border-color: transparent;
    -webkit-transition: all 0s;
       -moz-transition: all 0s;
        -ms-transition: all 0s;
         -o-transition: all 0s;
            transition: all 0s;
}
.switch__input:checked ~ .switch__content:after {
    background-color: rgba(55 190 176 / 25%);
    width: 100%;
}